venv/
__pycache__/
*.pyc
db.sqlite3
*.log
*.env
.env
/staticfiles/      # collected static files
/media/            # user uploads
.idea/             # for PyCharm users
.vscode/           # for VSCode users
.stuff/
