venv/
__pycache__/
*.pyc
db.sqlite3
*.log
*.env
.env
/staticfiles/*
!/staticfiles/.gitkeep
/media/            # user uploads
.idea/             # for PyCharm users
.vscode/           # for VSCode users
.stuff/