body,
html {
    margin: 0;
}

.content {
    margin-top: 56px;
}

.stretch-to-bottom {
    min-height: calc(100vh - 56px); /* Screen height minus navbar height */
    height: 100%; /* Allow it to stretch if content overflows */
    overflow: auto; /* Make sure content can scroll if it exceeds the space */
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Interest Form */
.chip {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.chip.selected {
    background-color: #007bff;
    color: white;
}

.chip:hover {
    background-color: #d1e7ff;
}
/* End of Interest Form */

.text-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.unselectable {
    user-select: none;
}

.clickable {
    cursor: pointer;
}