{% extends "base.html" %}

{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 350px;">
        <h3 class="text-center text-primary mb-3">Sign Up</h3>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.email }}
            </div>
            <div class="mb-3">
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                {{ form.password2 }}
            </div>

            <!-- Custom Function to display error using bootstrap classes -->
            <div>
                {{ form.get_bootstrap_errors|safe }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
        </form>

        <div class="text-center mt-3">
            <small>Already have an account? <a href="{% url 'login' %}" class="text-primary">Login</a></small>
        </div>
    </div>
</div>

<script src="{% static 'js/validation.js' %}"></script>
{% endblock %}