{% extends "base.html" %}

{% load static %}

{% block title %}Qualifications - Diploma{% endblock %}

{% block content %}
<div class="container p-4">
    <h2 class="text-center mb-4">Top 3 Recommended Programs</h2>
    <div class="d-flex justify-content-center align-items-center">
        <div id="programCarousel" class="carousel slide w-75 mx-auto" data-interval="false">
            <div class="carousel-inner p-2">
                {% for program in programs %}
                <!-- <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="card text-center shadow-lg border-0 mx-auto p-3"
                        style="width: 420px; border-radius: 15px;">
                        <img src="{{ program.image_url }}" class="card-img-top rounded" alt="{{ program.program_name }}"
                            style="height: 300px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">#{{ program.rank }} - {{ program.program_name }}</h5>
                            <p class="text-muted"><strong>{{ program.university }}</strong></p>
                            <p class="text-muted">{{ program.suitability }} suitable</p>
                            <p class="card-text">{{ program.description }}</p>
                            <a href="{% url 'view_program' program.program_id %}" class="btn btn-primary fw-bold shadow-sm">View
                                Program</a>
                        </div>
                    </div>
                </div> -->
                {% endfor %}
            </div>

            <button class="carousel-control-prev border border-dark p-3" type="button" data-bs-target="#programCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next border border-dark p-3" type="button" data-bs-target="#programCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
{% endblock %}